* {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

/* TYPOGRAPHY */

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

header ul {
  list-style: none;
}

li {
  float: left;
  margin-right: 10px;
}

li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 12px;
}