* {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #FAFAFA;
}

/*** TYPOGRAPHY ***/

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h5 {
  font-size: 12px;
}

h6 {
  font-size: 14px;
  font-weight: 600;
}

.copyright-p {
  font-size: 12px;
}

li a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 12px;
}

@media (min-width: 600px) {
  li a {
    font-size: 16px;
    font-weight: 500;
  }
}

/*** HEADER ***/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
}

.logo {
  width: 200px;
  height: 55px;
  object-fit: cover;
  padding-top: 7px;  
}

header ul {
  list-style: none;
  line-height: 30px;
}

li {
  float: left;
  margin-right: 30px;
}

/*** HERO ***/

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("img/hero-img.jpg");
  background-position: center;
  background-size: cover;

  height: 30vh;
  color: white;
  padding: 1.25em;

  display: flex;
  align-items: flex-end;
}

.hero-container {
  margin-right: 1.6em;
  line-height: 1.15;
}

.hero-date {
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 0.2em;
}

.hero-title {
  margin-bottom: 0.2em;
}

/*** POSTS ***/

.posts {
  padding: 2em 1.25em;
}

.posts-container {
  width: 100%;
}

.post-item {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-bottom: 2em;
}

.post-img {
  width: 100%;
  height: auto;
  border-radius: 3px;
  margin-bottom: 5px;
}

/*** VIEW MORE div ***/

.more-container {
  text-align: center;
}

.more-link {
  color: black;
  font-weight: 600;
}

/*** FOOTER ***/

footer {
  padding: 2.25em;
  text-align: center;
  color: white;
  background-color: black;
}

/*** MEDIA QUERIES ***/

@media (min-width: 600px) {

  .hero-container {
    margin-right: 10em;
  }

  .posts {
    padding: 2em;
  }

  .posts-container {
    width: 100%;
    display: grid;
    grid-template: 1fr 1fr 1fr/ 1fr 1fr;
    grid-gap: 20px;
  }

}

@media (min-width: 900px) {
  .posts {
    padding: 2.5em;
  }

  .posts-container {
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
  }

  .post-date {
    margin-bottom: 0.5em;
  }
}