* {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

/*** TYPOGRAPHY ***/

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h5 {
  font-size: 12px;
}

h6 {
  font-size: 14px;
  font-weight: 600;
}

.copyright-p {
  font-size: 12px;
}

/*** HEADER ***/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25em;
}

header ul {
  list-style: none;
  line-height: 30px;
}

li {
  float: left;
  margin-right: 10px;
}

li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 12px;
}

/*** HERO ***/

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("img/hero-img.jpg");
  background-position: center;
  background-size: cover;

  height: 30vh;
  color: white;
  padding: 1.25em;

  display: flex;
  align-items: flex-end;
}

.hero-container {
  margin-right: 1.6em;
  line-height: 1.15;
}

.hero-date {
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 0.2em;
}

.hero-title {
  margin-bottom: 0.2em;
}

/*** POSTS ***/

.posts {
  padding: 1.25em;
}

.posts-container {
  width: 100%;
}

.post-item {
  margin-bottom: 2.5em;
}

.post-img {
  width: 100%;
  height: auto;
}

.post-item:last-child {
  margin-bottom: 30px;
}

/*** VIEW MORE div ***/

.more-container {
  text-align: center;
}

.more-link {
  color: black;
  font-weight: 600;
}

/*** FOOTER ***/

footer {
  padding: 2.25em;
  text-align: center;
  color: white;
  background-color: black;
}